@charset "UTF-8";
.wpcf7-response-output {
  display: none;
}

.formcontainer {
  margin: 3rem 2rem;
  padding: 3rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 0rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.siteattention {
  margin: 0 auto 4rem;
}
.siteattention__head {
  margin: 0 0 3rem;
  text-align: center;
}
.siteattention__head span {
  font-size: 2.2rem;
  font-weight: bold;
}
.siteattention__title {
  display: block;
  margin: 0 0 1rem 0;
  color: #0066c0;
  font-size: 1.5rem;
  font-weight: bold;
}
.siteattention__list {
  list-style: auto !important;
  list-style-type: decimal;
  margin: 0 0 3rem 0;
  padding: 0 0 0 2.5rem;
}
.siteattention__list li {
  line-height: 2;
  color: #0066c0;
  font-size: 1.3rem;
}
.siteattention__stepblock {
  width: 100%;
}
.siteattention__stepblock ul {
  display: flex;
}
.siteattention__stepblock ul .stepform01 {
  width: 33.3333333333%;
}
.siteattention__stepblock ul .stepform01__block {
  position: relative;
}
.siteattention__stepblock ul .stepform01__block_circle {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
  background: #cccccc;
}
.siteattention__stepblock ul .stepform01__block_txt {
  color: #cccccc;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.siteattention__stepblock ul .stepform01.current .stepform01__block_circle {
  background: #0066c0;
}
.siteattention__stepblock ul .stepform01.current .stepform01__block_txt {
  color: #0066c0;
}
.siteattention__stepblock ul .stepform02 {
  width: 33.3333333333%;
}
.siteattention__stepblock ul .stepform02__block {
  position: relative;
}
.siteattention__stepblock ul .stepform02__block::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 0;
  left: -40%;
  transform: translateY(-50%);
  width: 80%;
  height: 0.1rem;
  background: #cccccc;
}
.siteattention__stepblock ul .stepform02__block_circle {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
  background: #cccccc;
}
.siteattention__stepblock ul .stepform02__block_txt {
  color: #cccccc;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.siteattention__stepblock ul .stepform02.current .stepform02__block::before {
  background: #0066c0;
}
.siteattention__stepblock ul .stepform02.current .stepform02__block_circle {
  background: #0066c0;
}
.siteattention__stepblock ul .stepform02.current .stepform02__block_txt {
  color: #0066c0;
}
.siteattention__stepblock ul .stepform03 {
  width: 33.3333333333%;
}
.siteattention__stepblock ul .stepform03__block {
  position: relative;
}
.siteattention__stepblock ul .stepform03__block::before {
  content: "";
  position: absolute;
  top: 1rem;
  right: 0;
  left: -40%;
  transform: translateY(-50%);
  width: 80%;
  height: 0.1rem;
  background: #cccccc;
}
.siteattention__stepblock ul .stepform03__block_circle {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto 2rem;
  border-radius: 50%;
  background: #cccccc;
}
.siteattention__stepblock ul .stepform03__block_txt {
  color: #cccccc;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.siteattention__stepblock ul .stepform03.current .stepform03__block::before {
  background: #0066c0;
}
.siteattention__stepblock ul .stepform03.current .stepform03__block_circle {
  background: #0066c0;
}
.siteattention__stepblock ul .stepform03.current .stepform03__block_txt {
  color: #0066c0;
}

.sitecontact {
  margin: 0 auto;
}
.sitecontact__block-1 {
  width: 100%;
}
.sitecontact__block-1 .formblock {
  margin: 0 0 2rem;
  padding: 0;
  border: none;
  background: #ffffff;
}
.sitecontact__block-1 .formblock .input {
  display: block;
  width: 100%;
}
.sitecontact__block-1 .formblock .input__box {
  display: block;
  width: 100%;
  margin: 0 0 2rem 0;
}
.sitecontact__block-1 .formblock .input__box:last-child {
  margin: 0;
}
.sitecontact__block-1 .formblock .input__box_th {
  padding: 0 0 1rem 0;
  color: #0066c0;
  font-size: 1.5rem;
}
.sitecontact__block-1 .formblock .input__box_th span {
  display: flex;
  align-items: center;
}
.sitecontact__block-1 .formblock .input__box_th .required:before {
  display: block;
  width: 5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0 1rem 0 0;
  border-radius: 2rem;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  content: "必須";
  background: #ff1500;
}
.sitecontact__block-1 .formblock .input__box_th .any:before {
  display: block;
  width: 5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0 1rem 0 0;
  border-radius: 2rem;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  content: "任意";
  background: #cccccc;
}
.sitecontact__block-1 .formblock .input__box_td {
  display: block;
  padding: 0;
  font-size: 1.3rem;
  vertical-align: middle;
}
.sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=text], .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=email], .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap select {
  display: inline;
  width: 100%;
  height: 4rem;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  background: #efefef;
  text-align: left;
  /* Chrome, Safari */
  /* Firefox */
  /* Firefox 18以前 */
}
.sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=text]::-webkit-input-placeholder, .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=email]::-webkit-input-placeholder, .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap select::-webkit-input-placeholder {
  color: #cccccc;
}
.sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=text]::-moz-placeholder, .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=email]::-moz-placeholder, .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap select::-moz-placeholder {
  color: #cccccc;
}
.sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=text]:-moz-placeholder, .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=email]:-moz-placeholder, .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap select:-moz-placeholder {
  color: #cccccc;
}
.sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap textarea {
  display: inline;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  background: #efefef;
  text-align: left;
  /* Chrome, Safari */
  /* Firefox */
  /* Firefox 18以前 */
}
.sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap textarea::-webkit-input-placeholder {
  color: #cccccc;
}
.sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap textarea::-moz-placeholder {
  color: #cccccc;
}
.sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap textarea:-moz-placeholder {
  color: #cccccc;
}
.sitecontact__block-1 .formblock .input__box_td .tel_numberbox {
  display: flex;
  align-items: center;
}
.sitecontact__block-1 .formblock .input__box_td .tel_numberbox .first_number, .sitecontact__block-1 .formblock .input__box_td .tel_numberbox .last-number {
  width: 25%;
}
.sitecontact__block-1 .formblock .input__box_td .tel_numberbox .input__box_symbol {
  display: block;
  width: auto;
  line-height: 4rem;
  padding: 0;
  text-align: center;
}
.sitecontact__block-1 .formblock .input__box_td .tel_numberbox .input__box_symbol::after {
  content: "";
  display: block;
  width: 1rem;
  margin: 0 1rem;
  border-top: 0.1rem solid #1a1a1a;
}
.sitecontact__block-1 .formblock .input__box_td .tel_numberbox .search {
  width: 25%;
  margin: 0;
  padding: 0 0 0 2rem;
}
.sitecontact__block-1 .formblock .input__box_td .tel_numberbox .search button {
  width: 100%;
  line-height: 3rem;
  border-radius: 0.4rem;
  background-color: #f57500;
  color: #ffffff;
  text-align: center;
}
.sitecontact__block-1 .buttonblock__step-1 {
  display: flex;
  justify-content: space-around;
}
.sitecontact__block-1 .buttonblock__step-1_clear {
  width: 45%;
  height: 3.5rem;
  line-height: 3.5rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background: #cccccc;
}
.sitecontact__block-1 .buttonblock__step-1_confirm {
  width: 45%;
  height: 3.5rem;
  line-height: 3.5rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background: #ffbe3b;
}
.sitecontact__block-2 {
  display: none;
  width: 100%;
  background: #ffffff;
}
.sitecontact__block-2 .formblock .con-input {
  width: 100%;
}
.sitecontact__block-2 .formblock .con-input__box {
  display: grid;
  width: 100%;
  margin: 0 0 2rem 0;
  padding: 0 0 1rem 0;
  border-bottom: 0.1rem solid #cccccc;
}
.sitecontact__block-2 .formblock .con-input__box.input_img #confirm_postcontact_img {
  max-width: 20rem;
}
.sitecontact__block-2 .formblock .con-input__box.input_img #confirm_postcontact_img img {
  width: 100%;
}
.sitecontact__block-2 .formblock .con-input__box_th {
  padding: 0 0 1rem 0;
  color: #0066c0;
  font-size: 1.4rem;
}
.sitecontact__block-2 .formblock .con-input__box_td {
  display: block;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  vertical-align: middle;
}
.sitecontact__block-2 .formblock .con-input__box_td .wpcf7-form-control-wrap input[type=text], .sitecontact__block-2 .formblock .con-input__box_td .wpcf7-form-control-wrap input[type=email], .sitecontact__block-2 .formblock .con-input__box_td .wpcf7-form-control-wrap select, .sitecontact__block-2 .formblock .con-input__box_td .wpcf7-form-control-wrap textarea {
  display: inline;
  width: 100%;
  padding: 0.8rem 1rem;
  border: 0.1rem solid #cccccc;
  border-radius: 0.4rem;
  background: #ffffff;
  text-align: left;
}
.sitecontact__block-2 .formblock .con-input__box_td .tel_numberbox {
  display: flex;
  align-items: center;
}
.sitecontact__block-2 .formblock .con-input__box_td .tel_numberbox .first_number, .sitecontact__block-2 .formblock .con-input__box_td .tel_numberbox .last-number {
  width: 25%;
}
.sitecontact__block-2 .formblock .con-input__box_td .tel_numberbox .input__box_symbol {
  display: block;
  width: auto;
  line-height: 4rem;
  padding: 0;
  text-align: center;
}
.sitecontact__block-2 .formblock .con-input__box_td .tel_numberbox .input__box_symbol::after {
  content: "";
  display: block;
  width: 1rem;
  margin: 0 1rem;
  border-top: 0.1rem solid #1a1a1a;
}
.sitecontact__block-2 .formblock .con-input__box_td .tel_numberbox .search {
  width: 25%;
  margin: 0;
  padding: 0 0 0 2rem;
}
.sitecontact__block-2 .formblock .con-input__box_td .tel_numberbox .search button {
  width: 100%;
  line-height: 3rem;
  border-radius: 0.4rem;
  background-color: #f57500;
  color: #ffffff;
  text-align: center;
}
.sitecontact__block-2 .acceptance {
  margin: 0 0 2rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.sitecontact__block-2 .acceptance a {
  margin: 0 0.5rem 0 0;
  color: #0066c0;
  text-decoration: underline;
}
.sitecontact__block-2 .acceptance .wpcf7-form-control-wrap {
  display: inline-block;
  width: 100%;
}
.sitecontact__block-2 .acceptance .wpcf7-form-control-wrap .wpcf7-form-control {
  display: inline-block;
  width: 100%;
}
.sitecontact__block-2 .acceptance .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item {
  display: table;
  margin: 0 auto;
}
.sitecontact__block-2 .acceptance .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item label {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}
.sitecontact__block-2 .acceptance .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item label input {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 0.4rem;
}
.sitecontact__block-2 .acceptance .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item label .wpcf7-list-item-label {
  padding: 0 0 0 2rem;
}
.sitecontact__block-2 .buttonblock__step-2 {
  display: flex;
  justify-content: center;
}
.sitecontact__block-2 .buttonblock__step-2_edit {
  width: 45%;
  margin: 0 auto;
  padding: 1rem 0;
  border-radius: 0.4rem;
  background: #cccccc;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.sitecontact__block-2 .buttonblock__step-2_send {
  width: 45%;
  margin: 0 auto;
  padding: 1rem 0;
  border-radius: 0.4rem;
  background: #ffbe3b;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.sitecontact__block-3 {
  display: none;
  width: 100%;
  margin: 0 0 3rem 0;
  padding: 0;
  background: #ffffff;
}
.sitecontact__block-3 p {
  display: block;
  margin: 0 0 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.sitecontact__block-3 .buttonblock__step-3 {
  display: block;
  text-align: center;
}
.sitecontact__block-3 .buttonblock__step-3_back {
  margin: 0 auto;
  border: 0.2rem solid #ff2300;
  background: #ffffff;
  color: #ff2300;
}
.sitecontact__block-3 .buttonblock__step-3_back:active {
  background: #ff2300;
  color: #ffffff;
}
.sitecontact__block-3 .buttonblock__step-3_back:hover {
  background: #ff2300;
  color: #ffffff;
}
.sitecontact .authentication {
  display: none;
}
.sitecontact .authentication__btn {
  display: block;
  width: 15rem;
  height: 3.5rem;
  line-height: 3.5rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  background: #ffbe3b;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .formcontainer {
    max-width: 80rem;
    margin: 8rem auto;
    padding: 8rem 5rem;
  }
  .siteattention__head {
    margin: 0 0 5rem;
  }
  .siteattention__head span {
    font-size: 3rem;
  }
  .sitecontact {
    width: 100%;
    border: none !important;
  }
  .sitecontact__block-1 .formblock {
    margin: 0 0 5rem;
  }
  .sitecontact__block-1 .formblock .input {
    display: grid;
    padding: 0;
    background: none;
  }
  .sitecontact__block-1 .formblock .input__box {
    display: inline-table;
    margin: 0;
    border-bottom: 0.1rem solid #cccccc;
  }
  .sitecontact__block-1 .formblock .input__box:last-child {
    border-bottom: none;
  }
  .sitecontact__block-1 .formblock .input__box_th {
    width: 23.5rem;
    margin: 1rem 0;
    padding: 0;
    font-size: 1.4rem;
    vertical-align: middle;
  }
  .sitecontact__block-1 .formblock .input__box_th.vertical {
    padding: 1rem 0 0;
    vertical-align: top;
  }
  .sitecontact__block-1 .formblock .input__box_td {
    margin: 1rem 0 1rem 1rem;
  }
  .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=text], .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap input[type=email], .sitecontact__block-1 .formblock .input__box_td .wpcf7-form-control-wrap select {
    max-width: 50rem;
  }
  .sitecontact__block-1 .buttonblock__step-1 {
    justify-content: center;
  }
  .sitecontact__block-1 .buttonblock__step-1_clear {
    width: 20rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.4rem;
    margin: 0 2rem 0 0;
  }
  .sitecontact__block-1 .buttonblock__step-1_confirm {
    width: 20rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.4rem;
    margin: 0 0 0 2rem;
  }
  .sitecontact__block-2 .formblock .con-input {
    margin: 0 0 5rem 0;
  }
  .sitecontact__block-2 .formblock .con-input__box {
    display: inline-table;
    margin: 0;
  }
  .sitecontact__block-2 .formblock .con-input__box_th {
    width: 23.5rem;
    padding: 2rem 1rem 2rem 2rem;
    font-size: 1.4rem;
    text-align: right;
    vertical-align: middle;
  }
  .sitecontact__block-2 .formblock .con-input__box_th.label_img {
    vertical-align: top;
  }
  .sitecontact__block-2 .formblock .con-input__box_td {
    padding: 2rem 1rem 2rem 2rem;
    font-size: 1.4rem;
    word-break: break-all;
    vertical-align: middle;
  }
  .sitecontact__block-2 .buttonblock__step-2_edit {
    width: 20rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0;
    font-size: 1.4rem;
    margin: 0 2rem 0 0;
  }
  .sitecontact__block-2 .buttonblock__step-2_send {
    width: 20rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0;
    font-size: 1.4rem;
    margin: 0 0 0 2rem;
  }
  .sitecontact__block-2 .acceptance {
    margin: 0 0 3rem 0;
  }
  .sitecontact__block-3 {
    display: none;
    width: 60%;
    margin: 0 auto;
    padding: 0;
    background: #ffffff;
  }
  .sitecontact__block-3 p {
    margin: 0 0 4rem;
  }
  .sitecontact__block-3 p.thankstitle {
    margin: 3rem 0 4rem;
    font-size: 2rem;
  }
  .sitecontact__block-3 p.thankstxt {
    font-size: 1.4rem;
  }
  .sitecontact__block-3 p.thankspstsc {
    font-size: 1.4rem;
  }
  .sitecontact__block-3 .buttonblock__step-3 {
    display: block;
    text-align: center;
  }
  .sitecontact__block-3 .buttonblock__step-3_back {
    display: block;
    margin: 0 auto;
    border: 0.2rem solid #f57500;
    background: #f57500;
    color: #ffffff;
  }
  .sitecontact__block-3 .buttonblock__step-3_back:active {
    background: #ffffff;
    color: #f57500;
  }
  .sitecontact__block-3 .buttonblock__step-3_back:hover {
    background: #ffffff;
    color: #f57500;
  }
  .sitecontact .authentication__btn {
    width: 20rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=page-contact.css.map */
